<div class="container mt-sm">
<h1 class="title-lg mb">
  <%= @questions.count %>
  <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
</h1>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <%= render question %>
  </div>
<% end %>
