<div class="container">
  <center><img src="https://static.vecteezy.com/system/resources/previews/007/746/383/large_2x/question-faq-button-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-vector.jpg" alt="альтернативный текст" width="200"></center>
  <p>Этому пользователю ещё не задан ни один вопрос. Вы можете это исправить!</p>
  <p class="mt"> <%= render 'questions/form', question: @question %></p>
</div>
