.button {
  color: #fff;
  display: inline-block;
  padding: 8px 13px 7px;
  border: none;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px;
  -webkit-appearance: none;
}

.button-main {
  background: #9D0208;
}

.button-yellow {
  background: #ffba08;
  color: #000;
}
