body {
  background: #03071e;
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 40px;
  max-width: 800px;
  width: 100%;
}

.container {
  background: #fff;
  padding: 20px;
}

.container, .navbar {
  padding: 20px;
}

.navbar {
  align-items: center;
  background-color: #370617;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
}